<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <style>
    fieldset legend{
        font-weight: bold;
        font-size: 24px;
        color:#CC0000;
        text-align: center;
        }
    table{
        margin: 0 auto;
        width:600px;
        }
        table tr th{
        vertical-align: top;
        }
    ul.errorlist{
            margin:0px;
            padding:0px;
            }
            ul.errorlist li{
            list-style-type:none;
            color:#CC0000;
        }
    </style>
</head>
<body>
    <fieldset>
        <legend>User Registration Form</legend>
    <form action="" method="post" novalidate >
        {% csrf_token %}
        <table cellspacing="2" cellpadding="3" border="1">
            {% if wallet_list %}
            <tr>
                <th>user_email</th>
                <th>wallet_id</th>
                <th>wallet_status</th>
                <th>token</th>
            </tr>
            {% for wallet in wallet_list %}
                <tr>
                    <td>{{ wallet.user_email }}</td>
                    <td>{{ wallet.wallet_id }}</td>
                    <td>{{ wallet.wallet_status }}</td>
                    <td>{{ wallet.token }}</td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <th>No wallet data found</th>
                </tr>
            {% endif %}
        </table>
    </form>
    </fieldset>
</body>
</html>